node_modules/*
npm-debug.log
.tscache
.sublime-grunt-cache
*.tmp.txt
*.cache
dist
typings
bin
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
package-lock.json
